*.env
.vscode
/webscrapper/*
/chromedriver/*
chromedriver.tar.gz
/TomásDevelopmentWebscrapperwebscrapping/*
/UsersTiago/*
/chromedriver/*
/chrome-win32/*
/chromedrvrwindows/*
linkedin-jobs.csv
hn_homepage.png
sortedCSV.csv
/__pycache__/*